<div class="w-svw h-svh flex items-center justify-center">
    <div class="flex flex-col sm:flex-row gap-10">
        <div>
            <div
                class="flex items-center justify-center w-[10rem] h-[10rem] border-2 border-blue-600 rounded-full shadow-2xl shadow-blue-400 cursor-pointer">
                <i class="bi bi-person-fill text-teal-600 text-8xl"></i>
            </div>
            <div>Play With Random</div>
        </div>
        <div>
            <div
                class="flex items-center justify-center w-[10rem] h-[10rem] border-2 border-blue-600 rounded-full shadow-2xl shadow-blue-400 cursor-pointer">
                <i class="bi bi-person-fill-add text-blue-600 text-8xl"></i>
            </div>
            <div>Play With Friend</div>
        </div>
        <div>
            <div
                class="flex items-center justify-center w-[10rem] h-[10rem] border-2 border-blue-600 rounded-full shadow-2xl shadow-blue-400 cursor-pointer">
                <i class="bi bi-gear-fill text-rose-600 text-8xl"></i>
            </div>
            <div>Settings</div>
        </div>
    </div>
</div>