<div class="w-svw h-svh flex items-center justify-center bg-[url('assets/images/background.jpg')] bg-center bg-repeat">
    <div class="flex flex-wrap justify-center gap-8">
        <div class="bg-neutral-50 rounded-lg cursor-pointer">
            <div class="flex items-center justify-center px-4 py-2 w-[10rem] h-auto">
                <i class="bi bi-person-fill text-teal-600 text-8xl"></i>
            </div>
            <p class="text-center p-2 font-semibold text-teal-600">Play With Random</p>
        </div>
        <div class="bg-neutral-50 rounded-lg cursor-pointer">
            <div class="flex items-center justify-center px-4 py-2 w-[10rem] h-auto">
                <i class="bi bi-person-fill-add text-blue-600 text-8xl"></i>
            </div>
            <p class="text-center p-2 font-semibold text-blue-600">Play With Friend</p>
        </div>
        <div class="bg-neutral-50 rounded-lg cursor-pointer">
            <div class="flex items-center justify-center px-4 py-2 w-[10rem] h-auto">
                <i class="bi bi-gear-fill text-rose-600 text-8xl"></i>
            </div>
            <p class="text-center p-2 font-semibold text-rose-600">Settings</p>
        </div>
    </div>
</div>