<div class="w-svw h-svh flex items-center justify-center bg-[url('assets/images/background.jpg')] bg-center bg-repeat">
    <div class="w-[20rem] rounded-lg bg-white shadow-2xl shadow-slate-400 p-10 mx-2">
        <div class="flex flex-col justify-center items-center gap-5 p-5">
            <div class="w-full flex justify-center">
                <button
                    class="w-full px-5 py-2 text-white font-bold bg-sky-600 hover:bg-sky-500 cursor-pointer rounded-lg shadow-2xl shadow-sky-500"
                    (click)="showAuthForm('signup')">Create
                    An Account</button>
            </div>
            <div class="w-full flex justify-center">
                <button
                    class="w-full px-5 py-2 text-white font-bold bg-emerald-600 hover:bg-emerald-500 cursor-pointer rounded-lg shadow-2xl shadow-emerald-500"
                    (click)="showAuthForm('signin')">Sign
                    In</button>
            </div>
            <div class="w-full flex justify-center">
                <button
                    class="w-full px-5 py-2 text-white font-bold bg-yellow-600 hover:bg-yellow-500 cursor-pointer rounded-lg shadow-2xl shadow-yellow-500">Play
                    As Guest</button>
            </div>
        </div>
    </div>
</div>
<div class="fixed flex top-0 left-0 w-svw h-svh" *ngIf="showOrHideAuthForm" [@slidInTop]="showOrHideAuthForm">
    <div class="w-full flex items-center justify-center">
        <div
            class="relative p-12 bg-white rounded-2xl mt-8 mx-5 sm:mx-2 w-full sm:w-90 xl:w-96 shadow-2xl shadow-slate-400">
            <form action="" [formGroup]="currentFormGroup" (ngSubmit)="handelAuth()">
                <div class="flex flex-col gap-3">
                    <div *ngFor="let element of currentAuthForm" class="flex flex-col gap-1">
                        <label class="font-semibold text-sm" [for]="element.input.id">{{element.label}}</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                <i [className]="'text-xl bi bi-'+element.input.icon"></i>
                            </div>
                            <input [type]="element.input.type" [id]="element.input.id"
                                formControlName="{{element.input.formControlName}}"
                                [className]="'w-full ps-10 p-2.5 outline-0 border-2 rounded-lg shadow-lg shadow-gray-400'"
                                [ngClass]="{'border-emerald-500 shadow-green-100':!currentFormGroup.controls[element.input.formControlName].invalid,'border-rose-500 shadow-rose-200':(currentFormGroup.controls[element.input.formControlName].invalid && currentFormGroup.controls[element.input.formControlName].dirty)}">
                            <div class="absolute inset-y-0 end-0 flex items-center pe-2 cursor-pointer"
                                *ngIf="element.input.id === 'password'" (click)="showOrHidePassword(element)">
                                <i [className]="'text-xl bi bi-'+element.input.additionalIcon"></i>
                            </div>
                        </div>
                        <div
                            *ngIf="currentFormGroup.controls[element.input.formControlName].dirty && currentFormGroup.controls[element.input.formControlName].errors">
                            <span *ngIf="currentFormGroup.controls[element.input.formControlName].getError('required')"
                                class="text-rose-600 font-semibold text-xs">{{element.label}}
                                is required.</span>
                            <span *ngIf="currentFormGroup.controls[element.input.formControlName].getError('minlength')"
                                class="text-rose-600 font-semibold text-xs">{{element.label}}
                                can't be less than
                                {{currentFormGroup.controls[element.input.formControlName].errors?.['minlength']['requiredLength']}}
                                character.</span>
                            <span *ngIf="currentFormGroup.controls[element.input.formControlName].getError('email')"
                                class="text-rose-600 font-semibold text-xs">{{element.label}}
                                is invalid.</span>
                            <span
                                *ngIf="!currentFormGroup.controls[element.input.formControlName].getError('minlength') && currentFormGroup.controls[element.input.formControlName].getError('pattern')"
                                class="text-rose-600 font-semibold text-xs">Password must contain at least 1 Uppercase
                                letter, 1 Lower case letter, 1 Number, 1 Special character</span>
                            <!-- <span
                                *ngIf="currentFormGroup.controls?.[element.input.formControlName]?.errors?.['passwordMismatch']"
                                class="text-rose-600 font-semibold text-xs">Password and Confirm Password must be
                                same</span> -->
                        </div>
                    </div>
                    <div class="mt-4">
                        <button type="submit"
                            class="flex items-center justify-center w-full px-5 py-2 text-white font-bold bg-blue-600 hover:bg-blue-700 cursor-pointer rounded-lg shadow-2xl shadow-blue-500 disabled:bg-slate-400 disabled:cursor-not-allowed"
                            [disabled]="(currentFormGroup.invalid && currentAuthFormType !== 'signin') || responseFetching">
                            <div class="mx-auto"><span>Submit</span></div>
                            <div *ngIf="responseFetching">
                                <svg class="size-5 animate-spin" width="800" height="800" viewBox="0 0 14 14"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g fill="none" fill-rule="evenodd">
                                        <circle cx="7" cy="7" r="6" stroke="#fff" stroke-opacity=".4"
                                            stroke-width="2" />
                                        <path fill="#fff" fill-opacity="1" fill-rule="nonzero"
                                            d="M7 0a7 7 0 0 1 7 7h-2a5 5 0 0 0-5-5z" />
                                    </g>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </form>
            <div class="absolute top-0 right-0 py-1 px-2">
                <i class="text-xl bi bi-x-circle-fill cursor-pointer text-rose-500"
                    (click)="showAuthForm(currentAuthFormType)"></i>
            </div>
        </div>
    </div>
</div>