<div class="w-svw h-svh flex items-center justify-center bg-[url('assets/images/background.jpg')] bg-center bg-repeat">
    <div class="w-[20rem] rounded-lg bg-white shadow-2xl shadow-slate-400 p-10 mx-2">
        <div class="flex flex-col justify-center items-center gap-5 p-5">
            <div class="w-full flex justify-center">
                <button
                    class="w-full px-5 py-2 text-white font-bold bg-sky-600 hover:bg-sky-500 cursor-pointer rounded-lg shadow-2xl shadow-sky-500"
                    (click)="showAuthForm('signup')">Create
                    An Account</button>
            </div>
            <div class="w-full flex justify-center">
                <button
                    class="w-full px-5 py-2 text-white font-bold bg-emerald-600 hover:bg-emerald-500 cursor-pointer rounded-lg shadow-2xl shadow-emerald-500"
                    (click)="showAuthForm('signin')">Sign
                    In</button>
            </div>
            <div class="w-full flex justify-center">
                <button
                    class="w-full px-5 py-2 text-white font-bold bg-yellow-600 hover:bg-yellow-500 cursor-pointer rounded-lg shadow-2xl shadow-yellow-500">Play
                    As Guest</button>
            </div>
        </div>
    </div>
</div>
<div class="fixed top-0 left-0 w-svw h-svh bg-slate-800" *ngIf="showOrHideAuthForm">
    <div class="w-full flex items-center justify-center">
        <div class="relative p-10 bg-white rounded-2xl mt-8 mx-2 w-full md:w-60 lg:w-80 xl:w-96 ">
            <form action="" [formGroup]="currentFormGroup" (ngSubmit)="handelAuth()">
                <div class="flex flex-col gap-3">
                    <div *ngFor="let element of currentAuthForm" class="flex flex-col gap-1">
                        <label class="font-semibold" [for]="element.input.id">{{element.label}}</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                                <i [className]="'text-xl bi bi-'+element.input.icon"></i>
                            </div>
                            <input [type]="element.input.type" [id]="element.input.id"
                                formControlName="{{element.input.formControlName}}"
                                [className]="'w-full ps-10 p-2.5 outline-0 border-2 rounded-lg shadow-xl shadow-gray-400 focus:border-blue-500 focus:shadow-blue-400'">
                        </div>
                        <div
                            *ngIf="currentFormGroup.controls[element.input.formControlName].dirty && currentFormGroup.controls[element.input.formControlName].touched">
                            <span>Filed change</span>
                        </div>
                    </div>
                    <div class="mt-4">
                        <button type="submit"
                            class="w-full px-5 py-2 text-white font-bold bg-blue-600 hover:bg-blue-700 cursor-pointer rounded-lg shadow-2xl shadow-blue-500">Submit</button>
                    </div>
                </div>
            </form>
            <div class="absolute top-0 right-0 py-1 px-2">
                <i class="text-xl bi bi-x-circle-fill cursor-pointer text-rose-500"
                    (click)="showOrHideAuthForm = false"></i>
            </div>
        </div>
    </div>
</div>