<div class="w-svw h-svh flex items-center justify-center bg-[url('assets/images/background.jpg')] bg-center bg-repeat">
    <div class="w-[20rem] rounded-lg bg-white shadow-2xl shadow-slate-400 p-10 mx-2">
        <div class="flex flex-col md:flex-row items-center justify-center">
            <!-- player profile picture -->
            <div>
                <img src="" alt="" srcset="">
            </div>
            <!-- player details -->
            <div>
                <div>
                    <p>Player Id:</p>
                    <p>Some unique id</p>
                </div>
                <div>
                    <p>Name:</p>
                    <p>Joy</p>
                </div>
                <div>
                    <p>Email:</p>
                    <p>joy&#64;gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>